.board-task {
  display          : flex;
  flex-direction   : column;
  padding          : 1rem;
  border-radius    : var(--mat-sys-corner-small);
  background-color : var(--mat-sys-surface-container-lowest);
  box-shadow       : 0 0 .25rem 0 rgba(0, 0, 0, 0.25);
  cursor           : pointer;
  color            : var(--mat-sys-on-primary-fixed-variant);


  .label {
    user-select : none;
    font        : var(--mat-sys-headline-medium);
    font-weight : bold;
    font-size   : 1.2rem;
  }

  .desc {
    user-select : none;
    font        : var(--mat-sys-body-medium);
    margin: .5em 0 1em 0;

    &.noDesc {
      color: var(--mat-sys-on-surface-variant);
    }
  }

  .meta {
    display         : flex;
    align-items     : center;
    justify-content : space-between;
    user-select     : none;

    .list {
      display : flex;
      gap     : .5rem;

      .state-indicator {
        width            : 1rem;
        height           : 1rem;
        background-color : #B3261E;
        border-radius    : var(--mat-sys-corner-extra-small);
      }

      .text {
        font : var(--mat-sys-body-medium);
      }

      .fake-profile {
        width            : 1.5rem;
        height           : 1.5rem;
        border-radius    : 50%;
        background-color : var(--mat-sys-on-surface-variant);
      }
    }
  }
}
