<section id="login">
  <app-navbar class="navbar"></app-navbar>
  <div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="logo">
        <svg-icon src="assets/logo.svg"></svg-icon>
        <span>Connexion</span>
      </div>
      <mat-form-field class="input">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          formControlName="email"
          placeholder="Email"
          data-form-type="email"
        />
        @if (loginForm?.get('email')?.invalid && loginForm?.get('email')?.touched) {
          <mat-error>Un e-mail valide est requis</mat-error>
        }
      </mat-form-field>
      <mat-form-field class="input">
        <mat-label>Mot de passe</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
          placeholder="Mot de passe"
          data-form-type="password"
        />
        @if (loginForm?.get('password')?.invalid && loginForm?.get('password')?.touched) {
          <mat-error>Le mot de passe est requis et doit comporter au moins 6 caractères.</mat-error>
        }
      </mat-form-field>
      <button type="submit" mat-flat-button [disabled]="loginForm.invalid">Se connecter</button>
    </form>
  </div>
</section>
