@import "../../styles";

section.header-container {
  background-color: map-get($my-palette, 400) !important;
  color: white;
  display: flex;
  align-items: center;

}

.header-icon img {
  height: 50px;
}
