<section class="page-header">
    <div class="container">
        <div class="first-section">
            <div class="header-icon">
                <svg-icon *ngIf="!(isLoggedIn$ | async)" src="assets/clipboard-regular.svg"
                          [svgStyle]="{'width': 'auto', 'height': '4rem', 'fill':'var(--mat-sys-on-primary)'}"></svg-icon>
                <app-avatar *ngIf="isLoggedIn$ | async" [isSessionUser]="true" ></app-avatar>
            </div>
            <div class="header-text">
                <p class="headerTopLine">{{ headerTopLine }}</p>
                <h2 class="headerTitle">{{ headerTitle }}</h2>
            </div>
        </div>

        <div class="tabs-container">
            <ng-content></ng-content>
        </div>
    </div>

</section>
