<nav [className]="isHomePage ? 'navbar home' : 'navbar'">
  <div class="container navbar-content">
    <div class="left-part">
      <div class="website-brand" (click)="goToHome()">
        <div class="logo">
          <svg-icon src="assets/logo.svg" class="logo-svg"></svg-icon>
        </div>
        <span>Todoum</span>
      </div>
      <ul class="navbar-links" *ngIf="(isLoggedIn$ | async)">
        <li>
          <a href="#">Activité récente</a>
        </li>
        <li>
          <a href="#">Aide</a>
        </li>
      </ul>
    </div>

    <div class="navbar-actions">
      <app-button
        *ngIf="!(isLoggedIn$ | async)"
        label="Se connecter"
        color="secondary"
        text="primary"
        type="flat"
        (onClick)="goToLogin()"
      ></app-button>
      <app-button
        *ngIf="!(isLoggedIn$ | async)"
        label="S'inscrire"
        color="primary"
        text="secondary"
        type="flat"
        (onClick)="goToRegister()"
      ></app-button>
      <app-button
        *ngIf="(isLoggedIn$ | async)"
        label="Se déconnecter"
        color="primary"
        text="secondary"
        type="flat"
        (onClick)="handleLogout()"
      ></app-button>
    </div>
  </div>
</nav>
