<div class="project-card">
    <div class="header">
        <button mat-fab aria-label="Example icon button with a delete icon">
            <mat-icon>edit</mat-icon>
        </button>
    </div>
    <div class="content">
        <div class="meta">
            <div class="title">
                Tâches ménagères
            </div>
            <div class="desc">
                Projet de Nicolas Durand
            </div>
        </div>
        <div class="details">
            <div class="list">
                <div class="fake-profile"></div>
                <div class="fake-profile"></div>
            </div>
        </div>
    </div>
</div>
