.fake-header {
  width: 100%;
  height: 12.7rem;
  background-color: var(--mat-sys-on-primary-fixed-variant);
}

.projects-wrapper {
  margin-top: 3rem;
  color:  var(--mat-sys-on-primary-fixed-variant);

  h3 {
    font: var(--mat-sys-headline-large);
  }

  .projects-cards {
    // 4 columns on desktop
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 1rem;
  }
}
