<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>list</mat-icon> Tâches
    </ng-template>
    <p>Contenu des tâches</p>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>people</mat-icon> Membres
    </ng-template>
    <p>Contenu des membres</p>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>settings</mat-icon> Paramètres
    </ng-template>
    <p>Contenu des paramètres</p>
  </mat-tab>
</mat-tab-group>
