.avatar {

  &.small {
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    font-weight: 400;
  }
  width: 4rem; /* Taille du cercle */
  height: 4rem;
  background-color: var(--mat-sys-primary); /* Couleur de fond (ajustez selon votre thème) */
  color: var(--mat-sys-on-primary); /* Couleur du texte */
  border-radius: 50%; /* Rend la forme circulaire */
  display: flex; /* Permet d'aligner le contenu */
  align-items: center; /* Centre verticalement le texte */
  justify-content: center; /* Centre horizontalement le texte */
  font-size: 1.2rem; /* Taille de la police */
  font-weight: bold; /* Met le texte en gras */
  text-transform: uppercase; /* Transforme les lettres en majuscules */
  box-shadow: 0 .25rem .25rem rgba(0, 0, 0, 0.1); /* Optionnel : ajoute une ombre */
  user-select: none; /* Empêche la sélection du texte */
}
