<div class="project-card"
(click)="goToProject()"
>
  <div class="header">
    <button
      mat-fab
      *ngIf="!isEditing"
      color="warn"
      aria-label="Delete project"
      (click)="deleteProject($event)"
      class="delete-btn"
    >
      <mat-icon>delete</mat-icon>
    </button>
    <button
      mat-fab
      aria-label="Edit project"
      *ngIf="!isEditing"
      (click)="enableEdit($event)"
    >
      <mat-icon>edit</mat-icon>
    </button>
    <div class="editContainer" *ngIf="isEditing">
      <button
        mat-fab
        aria-label="Save changes"
        (click)="saveChanges($event)"
        class="save-btn"
      >
        <mat-icon>check</mat-icon>
      </button>
      <button
        mat-fab
        aria-label="Cancel edit"
        (click)="cancelEdit($event)"
        class="cancel-btn"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div class="content">
    <form [formGroup]="editForm">
      <!-- Mode affichage -->
      <div *ngIf="!isEditing">
        <div class="title">{{ project.name }}</div>
        <div class="desc">{{ project.description || 'Aucune description disponible' }}</div>
      </div>
      <!-- Mode édition -->
      <div *ngIf="isEditing">
        <div class="title">
          <input #firstInput formControlName="name" placeholder="Nom du projet" (click)="stopPropagation($event)" />
        </div>
        <div class="desc">
          <input formControlName="description" placeholder="Description du projet"  (click)="stopPropagation($event)"/>
        </div>
      </div>
    </form>
  </div>
</div>
