<app-navbar [isHomePage]="false"></app-navbar>
<app-header headerTitle="Bon retour parmi nous !" [headerTopLine]="headerTopLine">
  <app-tab title="Projets" icon="format_list_bulleted" [isActive]="true" [roundedLeft]="true"/>
  <app-tab title="Paramètres" icon="settings" [isActive]="false" [roundedRight]="true"/>
</app-header>

<div class="container projects-wrapper">
  <div class="projects-wrapper-add">
    <h3>Mes projets</h3>
    <button
      mat-fab
      aria-label="Add project"
      class="add-btn"
      (click)="openAddProjectModal()"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div *ngIf="isLoading" class="loader">
    Chargement des projets...
  </div>

  <div *ngIf="!isLoading && projects.length === 0" class="no-projects">
    Aucun projet trouvé.
  </div>

  <div class="projects-cards" *ngIf="!isLoading && projects.length > 0">
    <app-project-card
      *ngFor="let project of projects"
      [project]="project"
      (projectDeleted)="loadProjects()"
    ></app-project-card>
  </div>
</div>
