@import "../../styles";

button {
  border-radius: 100px;

  // Check ce post: https://stackoverflow.com/a/48015134/12680199
  // Angular créé un style custom lorsqu'on ajoute l'attribut 'color="couleur"'
  &.mat-primary {
    background-color: var(--mat-sys-primary);
    color: var(--mat-sys-on-primary);
  }
  &.mat-secondary {
    background-color: var(--mat-sys-secondary-container);
    color: var(--mat-sys-on-secondary-container);
  }
}

/*.background-primary {
  background-color: map-get($my-palette, 400) !important;
}

.background-secondary {
  background-color: map-get($my-palette, 50) !important;
}

.text-primary {
  color: map-get($my-palette, 400) !important;
}

.text-secondary {
  color: map-get($my-palette, 50) !important;
}*/

