<!-- Bouton Basic -->
<button *ngIf="type === 'basic'" mat-button color="{{color}}" [disabled]="disabled">
  {{ label }}
</button>

<!-- Bouton Raised -->
<button *ngIf="type === 'raised'" mat-raised-button color="{{color}}" [disabled]="disabled">
  {{ label }}
</button>

<!-- Bouton Stroked -->
<button *ngIf="type === 'stroked'" mat-stroked-button [color]="color" [disabled]="disabled">
  {{ label }}
</button>

<!-- Bouton Flat -->
<button *ngIf="type === 'flat'" mat-flat-button [color]="color" [disabled]="disabled">
  {{ label }}
</button>

<!-- Bouton par défaut (Basic si aucun type défini) -->
<button *ngIf="!type || type === 'basic'" mat-button [color]="color" [disabled]="disabled">
  {{ label }}
</button>
