.intro-wrapper {
  position: relative;
  width: 100%;
  height: 47rem;
  background-color: var(--mat-sys-on-primary-fixed-variant);
  color: var(--mat-sys-on-primary);

  .background {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;

    svg {
      rect, circle, path {
        fill: var(--mat-sys-surface-tint);
      }
    }
  }
}
