<div class="intro-wrapper">
  <div class="background">
    <svg-icon src="assets/hero.svg" class="hero-svg"></svg-icon>
  </div>
  <app-navbar [isHomePage]="true"></app-navbar>
  <div class="container">
    <div class="headlines">
      <h1>Organisez votre quotidien</h1>
      <p>Optez pour la simplicité et choisissez Todoum</p>
    </div>
    <div class="actions">
      <app-button
        label="Se connecter"
        color="secondary"
        text="primary"
        type="flat"
        (onClick)="hanldeClick($event, 'login')"
      ></app-button>
      <app-button
        label="S'inscrire"
        color="primary"
        text="secondary"
        type="flat"
        (onClick)="hanldeClick($event, 'register')"
      ></app-button>
    </div>
  </div>
</div>
