<div class="task-detail-modal">
  <div class="modal">
    <div class="content-wrapper">
      <div class="header">
        <div class="meta">
          <div class="title">
            Nettoyer le grenier
          </div>
          <div class="desc">
            <div>Dans la liste</div>
            <div class="column-name">À faire</div>
          </div>
        </div>
        <div class="members-wrapper">
          <div class="text">
            Membres
          </div>
          <div class="list">
            <div class="fake-profile"></div>
            <div class="fake-profile"></div>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="title">Description</div>
        <p>Lorem ipsum dolor sit amet</p>
      </div>
    </div>

    <div class="actions-wrapper">
      <button mat-fab aria-label="Close the modal">
        <mat-icon>close</mat-icon>
      </button>

      <div class="actions">

      </div>
    </div>
  </div>
</div>
