.project-modal {
  width           : 100%;
  height          : 100%;
  display         : flex;
  align-items     : center;
  justify-content : center;
  color           : var(--mat-sys-on-primary-fixed-variant);

  .modal {
    width          : 100%;
    height         : 100%;
    padding        : 1em 2em 2em 2em; // Marge interne
    display        : flex;
    flex-direction : column;
    position       : relative;

    .header {
      display         : flex;
      align-items     : center;
      justify-content : space-between;
      gap             : 1em;


      .actions {
        display : flex;
        gap     : 1em;
      }

      .close-btn, .edit-btn, .delete-btn, .save-btn, .cancel-btn {
        background-color : #EEE6F5;
        border-radius    : 50%;
        width            : 40px;
        height           : 40px;
        display          : flex;
        align-items      : center;
        justify-content  : center;
        cursor           : pointer;

        &:hover {
          background-color : #D3BDF0;
        }
      }

      .delete-btn {
        &:hover {
          background-color : #F44336;
          color            : white;
        }
      }

    }

    h1 {
      font-size   : 1.5em;
      font-weight : bold;
    }

    .list-status {
      font-size  : 1em;
      color      : #666;
      font-style : italic;
    }

    .assignee {
      display        : flex;
      flex-direction : column;

      h3 {
        margin-bottom : 0.5em;
      }

      &-detail {
        display     : flex;
        gap         : 1em;
        align-items : center;
      }

      &-col {
        display        : flex;
        flex-direction : column;

      }
    }

    .description {

      &-title {
        margin-bottom : 0;
      }

      margin    : 0;
      font-size : 0.9em;
      color     : #5C4B68; // Couleur du texte pour rester dans la palette
    }

    input, textarea, select {
      color      : var(--mat-sys-on-primary-fixed-variant);
      font       : var(--mat-sys-body-large), Roboto, sans-serif;
      background : none;
      border     : solid 1px transparent;

      &:hover {
        border : solid 1px var(--mat-sys-primary);
      }
    }

    input {
      font-size   : 1.5em;
      font-weight : bold;
      width       : 100%;
    }

    textarea {
      width : 100%;
    }

    select {
      cursor : pointer;
    }
  }
}
