<section id="login">
  <app-navbar class="navbar"></app-navbar>
  <div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="logo">
        <svg-icon src="assets/logo.svg"></svg-icon>
        <span>Connexion</span>
      </div>
      <div>
        <input
          type="email"
          formControlName="email"
          placeholder="Email"
          data-form-type="email"
        />
        <div *ngIf="loginForm?.get('email')?.invalid && loginForm?.get('email')?.touched">
          <small>L'email est requis et doit être une adresse email valide.</small>
        </div>
      </div>
      <div>
        <input
          type="password"
          formControlName="password"
          placeholder="Mot de passe"
          data-form-type="password"
        />
        <div *ngIf="loginForm?.get('password')?.invalid && loginForm?.get('password')?.touched">
          <small>Le mot de passe est requis et doit comporter au moins 6 caractères.</small>
        </div>
      </div>
      <button type="submit" [disabled]="loginForm.invalid">Se connecter</button>
    </form>
  </div>
</section>
