@use '@angular/material' as mat;
@use 'media-breakpoints' as bp;
@use 'sass:map';

html {
  color-scheme: light dark;
  @include mat.theme((
    color: mat.$violet-palette,
    typography: Roboto,
    density: 0
  ));
}

body {
  height: 100%;
  margin: 0;
  background-color: var(--mat-sys-background);
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1rem;

  @include bp.media-breakpoint-up(sm) {
    max-width: map.get(bp.$container-max-widths, sm);
  }

  @include bp.media-breakpoint-up(md) {
    max-width: map.get(bp.$container-max-widths, md);
  }

  @include bp.media-breakpoint-up(lg) {
    max-width: map.get(bp.$container-max-widths, lg);
  }

  @include bp.media-breakpoint-up(xl) {
    max-width: map.get(bp.$container-max-widths, xl);
  }

  @include bp.media-breakpoint-up(xxl) {
    max-width: map.get(bp.$container-max-widths, xxl);
  }
}
