<div class="project-modal">
  <div class="modal">
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
      <div class="logo">
        <span>Créer un projet</span>
      </div>
      <mat-form-field class="input">
        <mat-label>Nom du projet</mat-label>
        <input
          matInput
          type="text"
          formControlName="name"
          placeholder="Nom du projet"
          data-form-type="other"
        />
        @if (addForm?.get('name')?.invalid && addForm?.get('name')?.touched) {
          <mat-error>Le nom est requis et doit faire au moins 6 caractères.</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <input
          matInput
          type="text"
          formControlName="description"
          placeholder="Description"
        />
      </mat-form-field>

      <button type="submit" mat-flat-button [disabled]="addForm.invalid">
        <mat-icon>add</mat-icon>
        <span>Créer le projet</span>
      </button>
    </form>
  </div>
</div>

